.custom-table, tr, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

.custom-text-center {
    text-align: center;
}

.custom-mt-1 {
    margin-top: 0.5rem;
}

.custom-mr-1 {
    margin-right: 0.5rem;
}

.custom-mb-1 {
    margin-bottom: 0.5rem;
}

.custom-ml-1 {
    margin-left: 0.5rem;
}

.w3c-logo {
    width:50px;
    height:25px;
}

.main-title {
    color: #58acfa;
}

#w3schools-video {
    width: 320px;
    height: 240px;
}

.custom-text-red {
    color: red;
}

.sigle {
    font-style: italic;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color:cyan;
    text-decoration: underline;
}