body {
    margin: 0px 0px 0px 0px;
}

main {
    margin: 0px 0px 0px 200px;
}

/*
 * Header
 */
header.custom-header {
    width: 100%;
    background-color: #6DD7EA;
    text-shadow: #000 0 0 .2em;
}

/*
 * Navigation Bar
 */
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #74BBE4;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: cyan;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*
 * Aside
 */
aside {
    width: 75%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    color: black;
}

aside > p {
    margin: .5rem;
}

/*
 * Text
 */
.custom-text-center {
    text-align: center;
}

.custom-text-red {
    color: red;
}

.sigle {
    font-style: italic;
}

.main-title {
    color: #58acfa;
}

/*
 * Links
 */

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color:cyan;
    text-decoration: underline;
}

/*
 * Table
 */
 .custom-table, tr, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

/*
 * Videos
 */
 #w3schools-video {
    width: 320px;
    height: 240px;
}

/*
 * Images
 */
.w3c-logo {
    width:50px;
    height:25px;
}

/*
 * Spaces
 */

/* Margins 1 */
.custom-mt-1 {
    margin-top: 0.5rem;
}

.custom-mr-1 {
    margin-right: 0.5rem;
}

.custom-mb-1 {
    margin-bottom: 0.5rem;
}

.custom-ml-1 {
    margin-left: 0.5rem;
}